{% extends "base.html" %}
{% load customfilters %}

{% block content %}

    <div class="card">
      <div class="card-body">
            <h5 class="card-title">Interações entre {{ id_pdb }}-{{ id_pocket }} com fármaco {{ nm_farmaco}}-{{ nm_analogo }}</h5>

        <!-- Accordion without outline borders -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Hidrofobicas
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in pliphydrophobic_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in pliphydrophobic %}
                                    <tr>
                                        {% for field in pliphydrophobic_fields%}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Água
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in plipwater_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in plipwater %}
                                    <tr>
                                        {% for field in plipwater_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Halogeneas
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in pliphalogen_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in pliphalogen %}
                                    <tr>
                                        {% for field in pliphalogen_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>


          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Hidrogenio
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in pliphydrogen_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in pliphydrogen %}
                                    <tr>
                                        {% for field in pliphydrogen_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Metalicas
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in plipmetal_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in plipmetal %}
                                    <tr>
                                        {% for field in plipmetal_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Cation-pi
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in plippication_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in plippication %}
                                    <tr>
                                        {% for field in plippication_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            Empilhamento pi
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in plippistacking_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in plippistacking %}
                                    <tr>
                                        {% for field in plippistacking_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Pontes salinas
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                {% for field in plipsalt_fields%}
                                <tr>
                                    <th scope="col">{{ field.verbose_name}}</th>
                                </tr>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for interaction in plipsalt %}
                                    <tr>
                                        {% for field in plipsalt_fields %}
                                        <td>
                                            {{ interaction|get_attribute:field.name}}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

        </div><!-- End Accordion without outline borders -->

      </div> <!-- final do card -->
    </div>

{% endblock content %}
